<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8" />
  <title><%= pageTitle %> - YouthKitbag</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <% if (typeof keywords !== 'undefined') { %><meta name="keywords" content="<%= keywords %>"><% } %>
  <% if (typeof description !== 'undefined') { %><meta name="description" content="<%= description %>"><% } %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/youthkitbag.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body class="youthkitbag">

  <header>
    <a id="header-acc-jump" class="sr-only sr-only-focusable" href="#main-acc-jump">
      <div class="container">
        <span class="skiplink-text">Skip to content</span>
      </div>
    </a>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="primary navigation">
      <div class="container-fluid">
        <a class="navbar-brand mr-6" href="/"><span class="fas fa-suitcase mr-3" aria-hidden="true"></span>YouthKitbag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown mr-3">
              <a class="nav-item nav-link dropdown-toggle" href="/whydropdown" id="whyDropdown" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Why?</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="whyDropdown">
                <a class="dropdown-item" href="/features">Features</a>
                <hr />
                <a class="dropdown-item" href="/features/inventory">Inventory</a>
                <a class="dropdown-item" href="/features/security">Security</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="/pricing" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item dropdown mr-3">
              <a class="nav-item nav-link dropdown-toggle" href="/marketdropdown" id="marketDropdown" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Market</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="marketDropdown">
                <a class="dropdown-item" href="/market/forsale/all">For Sale</a>
                <a class="dropdown-item" href="/market/wanted/all">Wanted</a>
                <a class="dropdown-item" href="/market/stolen/all">Stolen</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if (typeof isAuthenticated !== 'undefined') { %>
            <li class="nav-item dropdown mr-3">
              <a class="nav-item nav-link dropdown-toggle" href="/kitbagdropdown" id="kitbagDropdown" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">Kitbag</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="kitbagDropdown">
                <a class="dropdown-item" href="/kitbag/kit/all">View Kitbag</a>
                <a class="dropdown-item <% if (package.max.kit <= package.size.kit) { %> disabled<% } %>" href="/kitbag/kit/add">Add Kit</a>
                <hr />
                <a class="dropdown-item" href="/kitbag/forsale/all">Selling</a>
                <a class="dropdown-item" href="/kitbag/want/all">Want</a>
                <a class="dropdown-item" href="/kitbag/recycle/all">Recycle</a>
                <a class="dropdown-item" href="/kitbag/donate/all">Donate</a>
              </div>
            </li>
            <li class="nav-item">
              <a href="/account/package" class="nav-link"><i class="fas fa-<%= package.icon %>"></i></a>
            </li>
            <li class="nav-item">
              <a href="/account/notifications" class="nav-link"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item dropdown mr-3">
              <a class="nav-item nav-link dropdown-toggle" href="/accountdropdown" id="accountDropdown" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">User Name</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                <a class="dropdown-item" href="/account/profile">Account Profile</a>
                <hr />
                <form id="logout" action="/logout" method="POST">
                  <% if (typeof csrfToken !== 'undefined') { %>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <% } %>
                  <a class="dropdown-item" href="#" onclick="document.getElementById('logout').submit();">Logout</a>
                </form>
              </div>
            </li>
            <% } else { %>
            <li class="nav-item ml-3">
              <a class="btn btn-success text-nowrap" href="/login" aria-label="Login to use personalised features"><span class="fas fa-sign-in-alt" aria-hidden="true"></span> Login</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <a id="main-acc-jump" class="sr-only sr-only-focusable" href="#footer-acc-jump">
      <div class="container">
        <span class="skiplink-text">Skip to footer content</span>
      </div>
    </a>

    <% if (typeof alert !== 'undefined') { %>
      <%- include('alert', { alert: alert }) %>
    <% } %>


