<%- include('../../includes/head') %>

<%- include('../../includes/title', { 
    title: { title: forsale.title }, 
    breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Market', url: '/market' }, { title: 'Items for sale', url: '/market/forsale/all' }, { title: forsale.title } ]
}) %>

<section id="main" class="container-fluid" aria-label="main body of content plus related links and features">
    <div class="container">

        <% if (forsale.hassold) { %>
            <%- include('../../includes/alert', { alert: { style: 'danger', icon: 'exclamation-triangle', title: 'This items has already been sold', messages: [ 'The contact seller option is now disabled.' ] }}) %>
        <% } %>

        <form class="pb-3" action="/market/forsale/message-seller" method="POST">

        <div class="row">
            <div class="col-12 col-lg-6 order-1 order-lg-2" role="main">
                <div>
                    <img id="preview" class="img-fluid mb-3" src="<%= forsale.images.length > 0 ? forsale.images[0].imageUrl : '/images/default.png' %>" alt="" role="presentation">
                </div>
                <% if (forsale.images && forsale.images.length > 1) { %>
                <div>
                    <% forsale.images.forEach(function(image, i) { %>
                        <img class="img-fluid mb-3 img-link" style="max-height: 90px;" src="<%= image.imageUrl %>" alt="" role="presentation" onclick="document.getElementById('preview').src='<%= image.imageUrl %>';">
                    <% }) %>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-lg-6 order-2 order-lg-1" role="main">
                <div class="form-group row">
                    <label for="subtitle" class="col-sm-3 col-form-label">Subtitle</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" readonly aria-describedby="subtitle" value="<%= forsale.subtitle %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="5" readonly><%= forsale.description %></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="condition" class="col-sm-3 col-form-label">Condition</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" readonly aria-describedby="condition" value="<%= forsale.condition %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="askingPrice" class="col-sm-3 col-form-label">Asking Price</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" readonly step=".01" aria-describedby="askingPrice" value="<%= Number(forsale.askingPrice).toFixed(2) %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="activitys" class="col-sm-3 col-form-label">Activities</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" readonly aria-describedby="activitys" value="<% if (forsale.activitys) { %><%= forsale.activitys.join(', ') %><% }%>">
                    </div>
                </div>
            </div>
        </div>
        <% if (!forsale.hassold) { %>
        <hr />
        <div class="row pb-3">
            <div class="col-12 col-lg-6" role="main">
                <input type="hidden" name="forsaleId" value="<%= forsale._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary" type="submit">Contact seller</button>
            </div>
        </div>
        <% } %>

        </form>

    </div>
</section>

<%- include('../../includes/foot') %>