<%- include('../../includes/head') %>

<%- include('../../includes/title', { 
    title: { title: forsale.title }, 
    breadcrumbs: [ { style: 'home', title: 'Home', url: '/' }, { title: 'Kitbag', url: '/kitbag/kit/all' }, { title: 'For sale', url: '/kitbag/forsale/all' }, { title: `Sell: ${forsale.title}` } ]
}) %>

<section id="main" class="container-fluid" aria-label="main body of content plus related links and features">
    <div class="container">

        <form class="pb-3" action="/kitbag/forsale/<% if (editing) { %>edit<% } else { %>add<% } %>" method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="col-12 col-lg-6 order-1 order-lg-2" role="main">
                <div>
                    <img id="preview" class="img-fluid mb-3" src="<%= forsale.images.length > 0 ? forsale.images[0].imageUrl : '/images/default.png' %>" alt="" role="presentation">
                </div>
                <% if (forsale.images && forsale.images.length > 1) { %>
                <div>
                    <% forsale.images.forEach(function(image, i) { %>
                        <img class="img-fluid mb-3 img-link" style="max-height: 90px;" src="<%= image.imageUrl %>" alt="" role="presentation" onclick="document.getElementById('preview').src='<%= image.imageUrl %>';">
                    <% }) %>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-lg-6 order-2 order-lg-1" role="main">
                <div class="form-group row">
                    <label for="title" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control <%= errors.find(e => e.param === 'title') ? 'is-invalid' : '' %>" id="title" name="title" aria-describedby="title" value="<%= forsale.title %>" required="required" aria-required="true">
                        <div class="invalid-feedback"><%= errors.find(e => e.param === 'title') ? errors.find(e => e.param === 'title').msg : '' %></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subtitle" class="col-sm-3 col-form-label">Subtitle (optional)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="subtitle" name="subtitle" aria-describedby="subtitle" value="<%= forsale.subtitle %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Images</label>
                    <div class="col-sm-9">
                        <div class="custom-file">
                            <input type="file" multiple class="custom-file-input" id="images" name="photos" aria-describedby="images">
                            <label class="custom-file-label" for="images">Choose image(s)</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control <%= errors.find(e => e.param === 'description') ? 'is-invalid' : '' %>" id="description" rows="5" name="description"><%= forsale.description %></textarea>
                        <div class="invalid-feedback"><%= errors.find(e => e.param === 'description') ? errors.find(e => e.param === 'description').msg : '' %></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="condition" class="col-sm-3 col-form-label">Condition</label>
                    <div class="col-sm-9">
                        <select class="custom-select" id="condition" name="condition">
                            <option value="used" <%= forsale.condition == 'used' ? 'selected' : '' %>>Used</option>
                            <option value="new" <%= forsale.condition == 'new' ? 'selected' : '' %>>New</option>
                            <option value="almostnew" <%= forsale.condition == 'almostnew' ? 'selected' : '' %>>Almost New</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="askingPrice" class="col-sm-3 col-form-label">Asking Price</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="askingPrice" name="askingPrice" step=".01" aria-describedby="askingPrice" value="<%= Number(forsale.askingPrice).toFixed(2) %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="activitys" class="col-sm-3 col-form-label">Activities</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="activitys" name="activitys" aria-describedby="activitys" value="<% if (forsale.activitys) { %><%= forsale.activitys.join(', ') %><% }%>">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-sm-3" for="hasSold">Sold</label>
                    <div class="col-1 col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hasSold" name="hasSold" <%= forsale.hasSold ? 'checked' : '' %> >
                        </div>
                    </div>
                    <div class="col-10 col-sm-8">
                        <div class="form-check">
                            <small id="activehelp" class="form-text text-muted form-control-help">Item and source automatically sold when sale completed on YouthKitbag.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row pb-3">
            <div class="col-12 col-lg-6" role="main">
                    <% if (editing) { %>
                        <input type="hidden" name="forsaleId" value="<%= forsale._id %>">
                    <% } %>
                    <input type="hidden" name="origImages" value="<%= origImages %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="sourceId" value="<%= forsale.sourceId %>">
                    <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Sale Item<% } else { %>Add Item for Sale<% } %></button>
                </form>
                <form action="/kitbag/forsale/delete" method="POST" class="d-inline">
                    <input type="hidden" name="forsaleId" value="<%= forsale._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-secondary" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('../../includes/foot') %>